<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-background"></div>
            <div class="carousel-container">
              <!-- ------------VISTA PARA ESCRITORIO ----------------->
              <div class="carousel-content d-none d-sm-block">
                <div style="line-height: 1;">
                 
              </div>
              <!-- ------------VISTA PARA MOVIL ----------------->
              <div class="carousel-content d-block d-sm-none">
                <div style="line-height: 1;">
                  <strong class="hTitulo2">INNOVACIÓN</strong>
                  <br><strong class="hTitulo2">DIGITAL PARA</strong>
                  <br><strong class="hTitulo2">EMPRESAS</strong>
                </div>
                <p style="font-size: 15px;" class="text-primary-color">
                  Creemos en el potencial único de cada organización para prosperar a través de soluciones tecnológicas diseñadas a medida de sus necesidades.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<section>
  <div>
    <div style="margin-top: 50px;margin-bottom: 70px;">
      <div class="container" align="center">
        <header class="section-header wow fadeInUp " style="margin: 0; line-height: 0;">
          <h4><b>EMPECEMOS</b></h4>
          <p style="margin-top: 0;">Elija <b>todas</b> las oportunidades que se apliquen a usted. <b>Debe seleccionar al
              menos uno.</b></p>


        </header>
      </div>
    </div>

    <div style="background:  top no-repeat fixed;padding-right: 30px;padding-left: 30px;">
      <div class="container">


   <div class="row about-cols">

  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-1"   class="checkbox__input">
          <label for="checkbox-1" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-9"   class="checkbox__input">
          <label for="checkbox-9" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-2"   class="checkbox__input">
          <label for="checkbox-2" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-3"   class="checkbox__input">
          <label for="checkbox-3" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-4"   class="checkbox__input">
          <label for="checkbox-4" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-5"   class="checkbox__input">
          <label for="checkbox-5" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-6"   class="checkbox__input">
          <label for="checkbox-6" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-7"   class="checkbox__input">
          <label for="checkbox-7" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>
  
  <div class="col-md-6 wow fadeInUp custom-padding">

    <div class="custom-container">

      <div class="custom-flex-container">

        <div class="checkbox">
          <input type="checkbox" id="checkbox-8"   class="checkbox__input">
          <label for="checkbox-8" class="checkbox__label"></label>
        </div>
        <ion-icon class="custom-icon" name="bookmark"></ion-icon>

      </div>

      <div class="custom-text-container">
        <br>
        <p><b class="text-uvm">EXCELENCIA ACADÉMICA</b></p>
        <br>
        <p class="custom-font-weight">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, quo velit temporibus unde in eaque
          eligendi recusandae quod.
        </p>
        <br>
      </div>

    </div>

  </div>

  <!-- Aquí van los demás bloques de col-md-6 con el mismo contenido -->

</div>
<div class="wow fadeInUp" style="display: flex; justify-content: center; margin: 60px 0;">
  <a href="/carrera" class="btn-uvm" align="center" onclick="route()">
    Siguiente
  </a></div>

      </div>
    </div>
  </div>
</section>
<section>
  <div style="background-color: crimson; border-radius: 5px; color: #fff; padding: 40px " class="container wow fadeInUp">
<p><b style="font-size: 1rem;">¿Ya eres estudiante? </b> Inicie sesion en UVM para conocer formas de ahorrar</p>
<br>
<p><b>¿Ya eres estudiante? </b> Inicie sesion en UVM para conocer formas de ahorrar</p>

  </div>
</section>

</body>

</html>